.footer {
	grid-area: footer;
	text-align: center;
	align-items: center;
	position: sticky;
	line-height: $footerHeight;
	bottom: 0;
	height: 2rem;
	padding: 0;
	font-size: smaller;
	box-shadow: $boxShadowTop;
	z-index: 1;
	overflow-x: auto;
	white-space: nowrap;
	external-link + external-link{
		margin-left: 0.5rem;
	}
}