$navbar-transition: clip-path 0.5s cubic-bezier(.86,0,.07,1) !default;

.navbar {
	font-size: 1.3rem;
	.navbar-menu {
		gap: 2px;
	}
	.navbar-brand {
		align-items: center;
	}
	.navbar-item {
		margin-top: 2px;
		margin-bottom: 2px;
		white-space: nowrap;
		&::part(anchor) {
			padding: 0.5rem 0.75rem;
			color: inherit;
			background: inherit;
			&:hover {
				color: $primary;
				background: findColorInvert($primary);
			}
			&:focus {
				color: $primary;
				background: findColorInvert($primary);
			}
		}
	}
	external-link {
		padding: 0 !important;
	}
	.button {
		height: 2.5rem;
	}
	.button:focus, .button.is-focused {
		color: inherit;
	}
	.button:active, .button.is-active {
		color: inherit;
	}
}

@media screen and (max-width: 1023px) {
	.navbar-menu {
		clip-path: inset(0 0 100% 0);
		padding: 0 2px;
		display: block;
		position: absolute;
		top: $headerHeight;
		right: 0;
		transition: $navbar-transition;
		background-color: $primary;
		box-shadow: $boxShadow;
		& > * {
			visibility: hidden;
			transition-delay: 0.5s;
		}
		&.is-active {
			clip-path: inset(0 0 0 0);
			* {
				visibility: visible;
				transition-delay: 0s;
			}
		}
	}
}