$navbar-transition-down: transform 0.4s cubic-bezier(.68,-0.2,.27,1.55) !default;
$navbar-transition-up: transform 0.4s cubic-bezier(.68,-0.5,.27,1.1) !default;
$navbar-item-hover-transition: background-color 0.6s ease, color 0.6s ease !default;
$navbar-height: 3rem !default;
$navbar-fontsize: 1.3rem !default;

.nav-menu-veil {
	display: none;
}
.navbar {
	font-size: $navbar-fontsize;
	.navbar-menu {
		gap: 2px;
	}
	.navbar-brand {
		align-items: center;
	}
	.navbar-item {
		white-space: nowrap;
		transition: $navbar-item-hover-transition;
		&::part(anchor) {
			padding: 0.5rem 0.75rem;
			color: $navbar-item-color;
			background-color: inherit;
			transition: $navbar-item-hover-transition;
			&:hover {
				color: $navbar-item-hover-color;
				background-color: $navbar-item-hover-background-color;
			}
			&:focus {
				color: $navbar-item-hover-color;
				background-color: $navbar-item-hover-background-color;
			}
			&.is-active {
				color: $navbar-item-active-color;
				background-color: $navbar-item-active-background-color;
			}
		}
	}
	external-link {
		padding: 0 !important;
	}
	.button:focus, .button.is-focused {
		color: inherit;
	}
	.button:active, .button.is-active {
		color: inherit;
	}
}

@media screen and (max-width: 1023px) {
	.nav-menu-veil {
		&.is-active {
			position: absolute;
			display: block;
			background: rgba(0, 0, 0, 0);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	.navbar-menu {
		transform: scale(1,0);
		transform-origin: top;
		display: flex;
		flex-direction: column;
		padding: 0 2px;
		position: absolute;
		top: $headerHeight;
		right: 0;
		transition: $navbar-transition-up;
		background-color: $primary;
		box-shadow: $boxShadow;
		.navbar-item:first-child {
			margin-top: 2px;
		}
		& > * {
			transition-delay: 0.5s;
		}
		&.is-active {
			display: flex;
			transition: $navbar-transition-down;
			transform: scale(1,1);
			* {
				visibility: visible;
				transition-delay: 0s;
			}
		}
	}
}