.side-menu {
	grid-area: sidebar;
	position: relative;
	width: 50px;
	box-shadow: $boxShadowLeft;
	transition: width 0.3s ease-in-out;
	.toggle-menu-content {
		position: absolute;
		top: 50px;
		left: -250px;
		right: 0;
		transition: left 0.3s ease-in-out;
		position: absolute;
		padding-right: 50px;
	}
}

.toggle-menu-checkbox:checked ~ .side-menu {
	width: 300px;
	.toggle-menu-content {
		left: 0;
		visibility: visible;
	}
}
