$side-menu-width: 270px !default;
$side-menu-min-width: 30px;
$side-menu-transition: left 0.4s cubic-bezier(.68,-0.55,.27,1.55) !default;

.side-menu {
	grid-area: sidebar;
	position: relative;
	width: $side-menu-width;
	.toggle-menu-button {
		display: none;
	}
	.toggle-menu-content {
		padding: 1rem;
		position: fixed;
		margin-top: $standard-gap;
		top: $headerHeight;
		width: $side-menu-width;
		box-shadow: $boxShadow;
	}
}

@media screen and (max-width: 1024px) {
	.side-menu {
		position: fixed; 
		top: $headerHeight;
		width: $side-menu-min-width;
		.toggle-menu-button {
			display: block;
			top: 0.25rem;
			left: 0;
			height: 42px;
			width: 42px;
			padding: 5px;
			position: absolute;
			transition: $side-menu-transition;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			background: $scheme-main;
			box-shadow: $boxShadow;
			img {
				height: 32px;
				width: 32px;
			}
		}
		.toggle-menu-content {
			width: $side-menu-width; 
			position: absolute;
			top: 0;
			left: -$side-menu-width;
			right: 0;
			transition: $side-menu-transition;
			background: $scheme-main;
		}
		&.is-open {
			.toggle-menu-button {
				left: $side-menu-width;
			}
			.toggle-menu-content {
				left: 0;
			}
		}
	}
}