.talks-grid {
	display: grid;
	padding: 0.5em;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 0.5rem;
	ul {
		display: contents;
			li {
			background: white;
			.talk-card {
				margin: 0;
				padding: 0.5rem;
				display: block;
				div {
					color: $text;
				}
				.stream {
					font-style: italic;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.talks-grid {
		margin-left: 32px;
	}
}