.talks-grid {
	display: grid;
	padding: 0.5em;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 0.5rem;
	ul {
		display: contents;
		li {
			background: white;
			padding: 0.25rem;
		}
	}
}
