@import './custom-colors.scss';

//----------- colors
$highlight-light: findLightColor($highlight);
$highlight-dark: findDarkColor($highlight);
$alternate-light: findLightColor($alternate);
$alternate-dark: findDarkColor($alternate);

$text: #666;
$info: $highlight;
$warn: $alternate;
$grey-lighter: #e5e5e5;

// .is-highlight/.is-alternate maps to these
$custom-colors: ("highlight": ($highlight-dark, $highlight-light), "alternate": ($alternate-dark, $alternate-light));

$colorBoxShadow: rgba(0,0,0,0.3);
$boxShadow: 2px 2px 3px -1px $colorBoxShadow;
$boxShadowTop:  0px -4px 3px -2px $colorBoxShadow;
$boxShadowBottom:  0px 4px 3px -2px $colorBoxShadow;

//----------- sizes 
$size-1: 1.5rem;
$size-2: 1.25rem;
$size-3: 1.1rem;
$size-4: 1rem;
$size-5: 1rem;
$size-6: 1rem;

//----------- components
$headerHeight: 3rem;
$footerHeight: 2em;
$standard-gap: 0.5rem;

$navbar-background-color: rbga(0,0,0,0);
$navbar-height: 2rem;
$navbar-fontsize: 1.2rem;
$navbar-item-color: $white-ter;
$navbar-item-active-color: $primary;
$navbar-item-hover-background-color: $white-ter;
$navbar-item-active-background-color: $white;
