@import './_theme';
@import './layout/nav-menu';
@import './layout/footer';

::part(anchor) {
	color: $link;
	text-decoration: none;
	&:hover {
		color: $link-hover;
	}
}
*, ::before, ::after {
	box-sizing: border-box;
}

body {
	font-family: Arial,Ubuntu,Helvetica,Nimbus Sans L,Droid Sans,FreeSans,Liberation Sans,Trebuchet MS,Sans-Serif;
}

.title {
	color: inherit;
}

*:focus, *.is-focused, ::part(anchor):focus {
	@include focus-mixin;
}

@media screen and (prefers-reduced-motion: reduce) { 
	*, ::before, ::after {
		transition: none !important;
	}
}