@import './_theme';
@import './layout/page';
@import './layout/side-menu';
@import './layout/talks';

*, ::before, ::after {
	box-sizing: border-box;
}

.header {
	box-shadow: $boxShadowTop
}

.side-menu {
	box-shadow: $boxShadowLeft;
}

*:focus 	{
	outline: 2px solid inherit;	
}
